<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>ePizza</h3>
                    <p class="text-justify">ePizza olarak her şubemizde yoğurduğumuz taze ve günlük pizza hamuru, sezon mahsulü domates ve gerçek mozzarella peyniriyle hazırladığımız butik pizza lezzetini tüm şubelerimize yaymış bir pizza zinciriyiz ve ürünlerimizde kullandığımız tüm malzemeleri yerli üreticilerden tedarik etmekteyiz.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4 ml-md-4">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-1">Hakkında</a></li>
                        <li><a href="#" class="py-1">İletişim</a></li>
                        <li><a href="#" class="py-1">Çerez Politikası</a></li>
                        <li><a href="#" class="py-1">Gizlilik</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="mb-4">
                    <h3>Have a Questions?</h3>
                    <div class="mb-3">
                        <ul class="list-unstyled">
                            <li class="py-1"><i class="bi bi-geo-alt"></i>  İstanbul </li>
                            <li class="py-1"><a href="#"><i class="bi bi-phone"></i> +90 212-612-27-00</a></li>
                            <li class="py-1"><a href="#"><i class="bi bi-envelope"></i> info@epizza.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
</footer>
